.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo-container {
    display: block;
    position: relative;
}

.logo {
    background: url('../../../assets/logo.PNG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin-right: 182.33px;
}

.search-bar-container {
    display: block;
    position: relative;
    width: 450px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.search-bar {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    font-family: LatoBold;
    font-size: 14px;
}

.account-button {
    border-radius: 6px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 13px;
    align-items: center;
    justify-self: flex-end;
    cursor: pointer;
    outline: none;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.account-name {
    font-family: LatoBlack;
    font-size: 18px;
    user-select: none;
}

.message-toggle {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: url('/assets/img/chat-icn-blue.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-left: 10px;
    cursor: pointer;
}

.message-toggle-on {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.message-toggle-off {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
    background: url(/assets/img/search-icn.png) #3EA0D8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.dropdown-container {
    display: block;
    position: relative;
    margin-right: 15px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-top: 5px;
    border-radius: 6px;
}

.dropdown-item {
    width: 100%;
    min-height: 40px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .25s ease;
    background-color: #F0F0F0;
    
    span {
        font-family: Lato;
        font-size: 16px;
    }
}

.dropdown-item:hover {
    background-color: #3EA0D8;

    span {
        color: #fff;
    }
}