<div class="header horizontal space-between">
    <div class="logo-container">
        <div [routerLink]="['']" class="logo"></div>
    </div>
    <div class="horizontal">
      <div class="search-bar-container">
        <input [(ngModel)]="searchString" placeholder="Search posts, users, and hashtags..." type="text"
          class="search-bar">
        <div class="search-results-container">
          <div class="search-result"></div>
        </div>
      </div>
      <div (click)="search()" class="search-button"></div>
    </div>
    <div class="horizontal center">
      <div (mouseenter)="dropdownToggled = true" class="dropdown-container">
        <div [routerLink]="['/profile']" [queryParams]="{uid: authService.userFirestore?.data().id}"
          *ngIf="authService?.user" class="account-button horizontal start">
          <div class="profile-picture"
            [style]="'background-image: url(' + authService.userFirestore?.data()?.photoUrl + ');'"></div>
          <span class="account-name">{{authService.userFirestore?.data()?.displayName}}</span>
        </div>
        <div (mouseleave)="dropdownToggled = false" *ngIf="dropdownToggled" class="dropdown vertical">
          <div class="action-button horizontal center">
            <span (click)="signOut()">Sign Out</span>
          </div>
        </div>
      </div>
        <div class="message-toggle"
        (click)="messageService.friendPaneEnabled = !messageService.friendPaneEnabled"
          [ngClass]="{'message-toggle-on': messageService.friendPaneEnabled, 'message-toggle-off': !messageService.friendPaneEnabled}">
        </div>
    </div>
    <!-- <div (click)="signOut()" class="signout-button">
        Sign Out
    </div> -->
</div>