.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.logo-container {
    display: block;
    position: absolute;
    left: 15px;
}

.logo {
    background: url('../../../assets/logo.PNG');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.search-bar-container {
    display: block;
    position: relative;
    width: 450px;
    padding: 10px;
}

.search-bar {
    display: flex;
    width: 680px;
    outline: none;
    border: none;
    font-family: LatoBold;
    font-size: 14px;
    border-radius: 10px;
    z-index: 1;
    transition: all .25s ease;
    position: relative;
    padding: 17px 60px 17px 15px;
    min-height: fit-content;
}

.search-bar:focus {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

.header-nav-button {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .25s ease;
    outline: none;
}

.header-nav-button:hover {
    transform: scale(1.01);
    background-color: #cbe7ff;
}

.home {
    background-image: url('/assets/img/home-icn.png');
}

.profile {
    //background-image: url('/assets/img/user-icn.png');
}

.message {
    background-image: url(/assets/img/chat-icn-blue.png);
    background-size: 65%;
    margin-left: 15px;
    margin-right: 10px;
}

.notifications {
    background-image: url('/assets/img/bell-blue-icn.png');
    margin-right: 15px;
    margin-left: 10px;
}

.nav-selected {
    transform: scale(1.01);
    background-color: #cbe7ff;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.account-name {
    font-family: LatoBlack;
    font-size: 18px;
    user-select: none;
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
    background: url(/assets/img/search-icn.png) #3EA0D8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.dropdown-container {
    display: block;
    position: relative;
    margin-right: 15px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-top: 5px;
    border-radius: 6px;
}

.dropdown-item {
    width: 100%;
    min-height: 40px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .25s ease;
    background-color: #F0F0F0;
    
    span {
        font-family: Lato;
        font-size: 16px;
    }
}

.dropdown-item:hover {
    background-color: #3EA0D8;

    span {
        color: #fff;
    }
}

.search-icn {
    mask-image: url('/assets/img/search-icn.png');
    background-color: #4aabfa;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.account-container {
    margin-left: 25px;
    width: 300px;
}

.search-results-container {
    width: 620px;
    padding: 60px 15px 5px 10px;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    z-index: -1;
    top: 5px;
    left: 30px;
}

.search-result {
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    outline: none;
}

.result-profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.profile-handle {
    color: #4aabfa;
    font-family: Lato;
    font-size: 16px;
    cursor: pointer;
}

.profile-display-name {
    font-family: LatoBlack;
    color: #414141;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.following {
    background-color: #E9E9E9;
    color: #414141;
    box-shadow: none;
}

.following-check-icn {
  background: url('/assets/img/following-icn.png');
  background-size: contain;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.results-category-label {
    color: #414141;
    font-family: LatoBlack;
    font-size: 16px;
}