<div class="group-page vertical">
  <div class="group-container">
    <div class="group-background"
      [style]="group?.backgroundUrl ? 'background-image: url(' + group?.backgroundUrl + ');' : ''"></div>
    <div class="group-info-container horizontal flex-start">
      <div class="veritcal">
        <span class="group-display-name">{{group?.groupName}}</span>
        <div class="group-description">{{group?.about}}</div>
      </div>
      <div style="flex: 1;"></div>
      <div class="vertical">
        <div class="horizontal">
          <div *ngIf="group?.isPrivate" class="status-icon"></div>
          <div (click)="joinGroup()" class="action-button" [ngClass]="{'joined': isMember}">
            {{isMember ? 'Joined' : undefined}}
            {{!isMember && group?.isPrivate ? 'Request membership' : undefined}}
            {{!isMember && !group?.isPrivate ? 'Join group' : undefined}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="horizontal end" style="width: 1000px; align-items: flex-start;">
    <div *ngIf="groupMembers.length > 0 && posts.length > 0" class="group-side-container-container vertical">
      <div class="group-side-container vertical">
        <div class="horizontal" style="width: 100%;">
          <span class="container-label">Admins</span>
        </div>
        <div class="horizontal" style="flex-wrap: wrap; justify-content: space-between; margin:-5px;">
          <div *ngFor="let admin of groupAdmins" [routerLink]="['/profile']" [queryParams]="{uid: admin?.id}"
            [style]="admin?.photoUrl ? 'background-image: url(' + admin.photoUrl + ');' :''"
            class="side-container-chip"></div>
        </div>
      </div>
    </div>
    <div class="vertical">
      <app-postmaker [collection]="groupRef?.path + '/' + 'group_posts'" (newPost)="onNewPost($event)" style="margin-top: -15px;"></app-postmaker>
      <app-post *ngFor="let post of posts" [authorProfile]="getPostUser(post)" [post]="post"
        [currentUser]="authService.userFirestore"></app-post>
    </div>
  </div>
</div>
