<div id="#profilePage" class="profile-page vertical">
  <app-profile-header *ngIf="showProfileHeader" [profile]="profile" [isFollowing]="isFollowing"></app-profile-header>
    <div id="profileContainer" class="profile-container">
        <div class="profile-background vertical center" [style]="profile?.backgroundPhotoUrl ? 'background-image: url(' + profile?.backgroundPhotoUrl + ');' : ''">
          <div *ngIf="isSelf" (click)="toggleProfileEdit()" class="edit-button action-button" [ngClass]="{'edit-button-save': isEditProfile}"></div>
          <input (change)="uploadProfileImages($event, 'background')" id="backgroundUpload" type="file" style="opacity: 0; visibility: hidden; width: 0; height: 0;">
            <label *ngIf="isEditProfile && isSelf" for="backgroundUpload">
              <div class="action-button add-button horizontal center"></div>
            </label>
        </div>
        <div class="profile-info-container vertical">
            <div class="profile-picture vertical center" [style]="profile?.photoUrl ? 'background-image: url(' + profile?.photoUrl +');' : ''">
              <input (change)="uploadProfileImages($event, 'profile')" id="profilePicUpload" type="file" style="opacity: 0; visibility: hidden; width: 0; height: 0;">
              <label *ngIf="isEditProfile && isSelf" for="profilePicUpload">
                <div class="action-button add-button"></div>
              </label>
            </div>
            <div class="vertical" style="align-items: flex-start;">
                <div class="horizontal" style="width: 725px;">
                  <div *ngIf="isSelf && isEditProfile" class="edit-input input horizontal" placeholder="New display name..." (input)="profile.displayName=$event.target.textContent"
                  contenteditable="true"></div>
                  <span *ngIf="!isEditProfile" class="profile-display-name">{{profile?.displayName}}</span>
                  <div *ngIf="!isEditProfile" style="flex: 1;"></div>
                  <div class="hidden-button social-stats-container">{{followerCount + (followerCount !== 1 ? ' followers' : ' follower')}}</div>
                  <div class="hidden-button social-stats-container">{{followingCount + ' following'}}</div>
                  <div *ngIf="!isSelf" (click)="isFollowing ? unfollowUser() : followUser()" class="action-button horizontal center"
                    [ngClass]="{'following' : isFollowing}">
                    {{isFollowing ? 'Following' : 'Follow'}}
                    <div *ngIf="isFollowing" class="following-check-icn"></div>
                  </div>
                </div>
                <span *ngIf="!isEditProfile" class="profile-username">@{{profile?.username}}</span>
                <p *ngIf="!isEditProfile" class="profile-bio">{{profile?.bio ? profile.bio : 'No information given...'}}</p>
                <div *ngIf="isSelf && isEditProfile" class="edit-input input horizontal" style="margin-top: 10px;" placeholder="New bio..." (input)="profile.bio=$event.target.textContent"
                  contenteditable="true"></div>
            </div>
            <div class="profile-bottom-bar"></div>
        </div>
    </div>
    <div *ngIf="posts.length > 0" class="horizontal" style="width: 1000px; align-items: flex-start;">
      <div class="vertical profile-side-container-container">
        <div *ngIf="friends.length > 0" class="profile-side-container vertical">
          <div class="horizontal" style="width: 100%;">
            <span class="container-label">Friends</span>
          </div>
          <div class="horizontal" style="flex-wrap: wrap; justify-content: space-between; margin:-5px;">
            <div [routerLink]="['/profile']" [queryParams]="{uid: friend?.id}"
              [style]="friend?.photoUrl ? 'background-image: url(' + friend.photoUrl + ');' : ''"
              *ngFor="let friend of friends" class="side-container-chip"></div>
          </div>
        </div>
        <div *ngIf="groups.length > 0" class="profile-side-container vertical">
          <div class="horizontal" style="width: 100%;">
            <span class="container-label">Groups</span>
          </div>
          <div class="horizontal" style="flex-wrap: wrap; justify-content: space-between; margin:-5px;">
            <div [routerLink]="['/group']" [queryParams]="{gid: profile.groups[i]}" [style]="group?.backgroundUrl ? 'background-image: url(' + group.backgroundUrl + ');' : ''"
              *ngFor="let group of groups; let i = index;" class="side-container-chip"></div>
          </div>
        </div>
      </div>
      <div class="profile-post-container vertical start">
        <app-post *ngFor="let post of posts" [authorProfile]="profile" [post]="post"
          [currentUser]="authService.userFirestore"></app-post>
      </div>
    </div>
</div>