.friends-pane {
    width: 350px;
    position: fixed;
    right: 20px;
    top: 90px;
    bottom: 20px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    z-index: 1;
}

.friends-pane-container {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-y: scroll;
}

.friends-pane-container::-webkit-scrollbar {
  display: none;
}

.friends-pane::-webkit-scrollbar {
  display: none;
}

.section-label {
    font-family: LatoBlack;
    font-size: 24px;
    align-self: flex-start;
    margin: 0 0 10px 0;
    user-select: none;
}

.friend-container {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    height: 70px;
    margin-bottom: 20px;
    padding: 0 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.profile-picture {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}

.friend-username {
    font-family: LatoBold;
    font-size: 16px;
    user-select: none;
}

.chat-button {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    background: center / 60% no-repeat url('/assets/img/chat-icn.png') #3EA0D8;
}

.chat-pane {
    position: absolute;
    bottom: 0;
    right: 100px;
}