p {
    margin-bottom: 10px;
}

.post-container {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    width: 680px;
    margin: 15px 0;
}

.post-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
}

.profile-display-name {
    font-family: LatoBlack;
    color: #414141;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.post-content-box {
    width: 100%;
    padding: 0 15px 0 15px;
}

.author-username {
    font-family: LatoBlack;
    font-size: 16px;
}

.post-description {
    font-family: Lato;
    font-size: 16px;
}

.post-comments-box {
    width: 100%;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.send-button {
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    mask-image: url('/assets/img/send-icn.png');
    background-color: #4aabfa;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 30px;
}

.video-container {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #F0F0F0;
    overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
}

.video-play-pause-button {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: url(/assets/img/play-icn.png) #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-size: 40%;
    background-position: 25px;
    background-repeat: no-repeat;
    margin: auto;
    cursor: pointer;
    transition: all 0.25s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-scrub-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 15px;
    padding: 0 25px;
    align-items: center;
}

.scrub-bar {
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    border-radius: 10px;
}

.progress {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F7971C;
    transition: all .1s ease;
    margin-right: -15px;
    cursor: pointer;
}

.scrub-button {
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.interaction-button {
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 60%;
    cursor: pointer;
    transition: all .25s ease;
}

.interaction-button:hover {
    transform: scale(1.1);
}

.like-button-liked {
    background-image: url('/assets/img/like-icn-blue.png');
    animation-name: like-spin;
    animation-duration: 1.25s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-iteration-count: 1;
    animation-play-state: running;
}

.like-button-unliked {
    background-image: url('/assets/img/like-icn.png');
}

.like-count {
    font-family: LatoBlack;
    color: #414141;
    font-size: 14px;
}

.game-icn {
    width: 50px;
    height: 50px;
    background-image: url('/assets/img/game-icn.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.tictactoe-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100%;
}

.square {
    width: 150px;
    height: 150px;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.square:hover {
    transform: scale(1.025);
}

.tictactoe-game-info-container {
    padding: 10px;
    align-items: center;
    width: 100%;
}

.player-container {
    padding: 5px 15px 5px 10px;
    border-radius: 100px;
    transition: all .25s ease;
    background-color: #F0F0F0;
}

.player-turn {
    background-color: #4aabfa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.x {
    mask-image: url('/assets/img/cross-icn.svg');
    background-color: #4aabfa;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 100px;
    height: 100px;
}

.o {
    mask-image: url('/assets/img/circle-icn.svg');
    background-color: #4aabfa;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 100px;
    height: 100px;
}

.profile-handle {
    color: #4aabfa;
    font-family: Lato;
    font-size: 16px;
    cursor: pointer;
}

.text-only-container {
    padding: 10px 15px 10px 50px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 5px;
}

.text-only-content {
    font-family: LatoBlack;
    color: #414141;
    font-size: 20px;
    word-wrap: normal;
}

.text-only-sidebar {
    background-color: #4aabfa;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    left: 32px;
    width: 4px;
}

@keyframes like-spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}