<div *ngIf="!isDeleted" class="vertical post-container">
    <div class="horizontal flex-start" style="padding: 8px; width: 100%;">
        <div [routerLink]="['/profile']" [queryParams]="{uid: authorProfile?.id}" class="profile-picture" [style]="'background-image: url(' + authorProfile?.photoUrl + ');'"></div>
        <div [routerLink]="['/profile']" [queryParams]="{uid: authorProfile?.id}" class="vertical" style="align-items: flex-start; outline: none;">
            <span class="profile-display-name">{{authorProfile?.displayName}}</span>
            <span class="profile-handle" style="font-family: Lato; font-size: 14px;">@{{authorProfile?.username}}</span>
        </div>
        <div style="flex: 1;"></div>
        <div *ngIf="isGame" class="game-icn"></div>
        <div *ngIf="authorProfile?.id == currentUser?.id" style="display: block; position: relative;">
            <div class="options-button hidden-button" (click)="flyoutOpen = !flyoutOpen"></div>
            <div *ngIf="flyoutOpen" class="options-flyout">
                <div class="options-item hidden-button horizontal start" (click)="openDeleteModal()">
                    <div class="delete-icn"></div>
                    Delete post
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="deleteOpen" class="options-modal-container vertical center">
        <div class="options-modal vertical">
            <div class="modal-header">Delete Post</div>
            <div class="modal-body center">
                <p>
                    Are you sure you want to delete this post?
                </p>
            </div>
            <div class="modal-buttons-container horizontal space-between">
                <div (click)="deletePost()" class="action-button delete">Delete</div>
                <div (click)="deleteOpen = false" class="action-button">Cancel</div>
            </div>
        </div>
    </div>
    <app-tictactoe-game *ngIf="isGame && isTicTacToe" [authorProfile]="authorProfile" [opponentProfile]="opponentProfile" [post]="post" [currentUser]="currentUser"></app-tictactoe-game>
    <div *ngIf="!isVideo && !isGame && post?.mediaUrl?.length > 0" class="post-img" (click)="imageClicked()" [style]="'background-image: url(' + post?.mediaUrl + ');'"></div>
    <div *ngIf="isVideo" class="video-container">
        <video (loadeddata)="onVideoLoad($event)" (click)="toggleVideo()" (timeupdate)="videoPlayingCallback($event)" #video class="video" [src]="post.mediaUrl"></video>
        <div *ngIf="!videoIsToggled" (click)="toggleVideo()" class="video-play-pause-button"></div>
        <div class="video-scrub-container">
            <div #scrubBar (mouseenter)="pointerInScrub = true" (mouseleave)="pointerInScrub = false"
            (mousemove)="pointerInScrub && isMouseDown ? videoScrub($event) : undefined" (mousedown)="isMouseDown = true" (mouseup)="isMouseDown = false"
            class="scrub-bar horizontal flex-start">
                <div #progressBar class="progress" [style]="'width: ' + videoProgress + '%;'"></div>
                <div class="scrub-button horizontal center"></div>
            </div>
        </div>
    </div>
    <div *ngIf="post?.description.length > 0 && !isGame && post?.mediaUrl?.length > 0" class="post-content-box vertical" style="align-items: flex-start;">
        <p>
            <span class="author-username">{{post?.username? post?.username + ':   ' : authorProfile?.username + ':   '}}</span>
            <span class="post-description" [innerHTML]="parseUsernameMentions(post?.description)"></span>
        </p>
        <span class="post-date">{{moment().diff(moment(post.timestamp.toDate()), 'days') > 1 ? moment(post.timestamp.toDate()).format('MMMM Do') : moment(post.timestamp.toDate()).fromNow()}}</span>
    </div>
    <div *ngIf="post?.description.length > 0 && !isGame && post?.mediaUrl == undefined" class="horizontal text-only-container">
        <div class="text-only-sidebar"></div>
        <span class="text-only-content" [innerHTML]="parseUsernameMentions(post?.description)"></span>
    </div>
    <div *ngIf="post.comments?.length > 0 && post.comments && !isGame" style="padding: 0 15px; width: 100%;">
        <div class="post-comments-box vertical">
          <app-chat style="align-self: flex-start; width: 100%;" *ngFor="let comment of post?.comments" [comment]="comment">
          </app-chat>
        </div>
    </div>
    <div *ngIf="!isGame" class="horizontal end" style="width: 100%; padding: 5px 10px 10px 10px; margin-top: 5px;">
        <div class="comment-container horizontal start" style="width: 100%;">
            <div class="horizontal center">
                <div (click)="like()" class="interaction-button" [ngClass]="{'like-button-unliked': !isLiked, 'like-button-liked': isLiked}"></div>
                <span *ngIf="post?.likes?.length > 0" class="like-count">{{formatNumber(post.likes.length)}}{{post.likes.length > 1 ? ' likes' : ' like'}}</span>
            </div>
            <div style="flex: 1;"></div>
            <div class="horizontal end" style="width: 500px;">
                <div class="profile-picture" [style]="'background-image: url(' + currentUser.photoUrl + ');'"></div>
            <div #commentInput class="input horizontal" placeholder="Write a comment..." (input)="comment=$event.target.textContent"
            contenteditable="true"></div>
            <div (click)="postComment()" class="send-button action-button"></div>
            </div>
        </div>
    </div>
</div>